

@{
    ViewBag.Title = "Cadastrar Lote";
    Layout = null;
}

<h2>Cadastrar</h2>

<div class="row">
    @Html.Partial("_Form")
</div>

<script>$(".data").datepicker('setDate', new Date());</script>

