
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Seus Lotes</h2>


<br />
<div class="row  m-t-md">
    <div class="col-lg-12">
        <p>
            @Html.Raw(Url.GerarBotaoCriarLot())
        </p>

        @using (Ajax.BeginForm("List", "Lot", new AjaxOptions { UpdateTargetId = "div-listagem-lot", OnSuccess = "SucessoListagem", OnComplete = "Completo", OnFailure = "Falha", OnBegin = "Carregando", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal", @style = "margin-bottom: 0px !important;" }))
        {
            <button class="fa fa-refresh text-info pull-right refresh" title="Atualizar listagem"></button>
        }
        <div class="clearfix"></div>
    </div>
</div>
<div id="div-listagem-lot">
</div>


<script>
     $.ajax({
                        type: "GET",
                        url: '@Url.Action("List", "Lot")',
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        async: false,
                        success: function (data) {
                            $("#div-listagem-lot").html(data);
                            SucessoListagem(data);
                        },
                        complete: function () {
                            Completo();
                        },
                        beforeSend: function () {
                            Carregando();
                        },
                        error: function () {
                           
                        }
        });
</script>

